* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

nav {
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    width: 85%;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.title {
    color: white;
    z-index: 2;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.centered-box {
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    margin-top: 2rem;
    border: 2px solid #ddd;
    border-radius: 50px;
    color: white;
    overflow: auto;
    padding: 4rem;   /* Added 4rem padding around the content */
}

img {
    max-width: 100%;
    vertical-align: top;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;  /* Added this to provide space between rows */
}

.gallery__display {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gallery__img {
    opacity: 0;
    transition: opacity 0.3s;
    width: 100%;   /* Cover full width */
    height: 100%;  /* Cover full height */
    object-fit: cover;
    position: absolute;
}

.gallery__thumbnails {
    display: flex;
    gap: 2rem;      /* Space between thumbnails */
    justify-content: center;  /* Center the thumbnails if less than 4 in a row */
}

.gallery__thumbnails img {
    cursor: pointer;
    width: 150px;  /* Thumbnail width */
    height: 100px; /* Thumbnail height */
    object-fit: cover;
    margin-right: 2rem;  /* Space between thumbnail images */
    transition: box-shadow 0.3s; /* Smooth transition for the box-shadow */
}

.gallery__thumbnails img:last-child {
    margin-right: 0; /* No margin for the last thumbnail */
}
/* Display the main image when clicked */
.gallery__selector:checked + .gallery__img {
    opacity: 1;
}

/* Highlight the selected thumbnail */
.gallery__selector:checked ~ .gallery__thumb img {
    box-shadow: 0 0 0 3px #0be2f6;
}

@media (max-width: 1024px) {
    nav {
        padding: 2rem 4rem;
    }
    .centered-box {
        margin: 5rem;
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .centered-box {
        margin: 2rem;
        margin-top: 1rem;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery__item {
        margin-bottom: 1rem;
    }
}
