* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    width: 85%;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.title {
    color: white;
    z-index: 2;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.under_title {
    margin: 2rem auto 5rem auto; /* This sets both vertical and horizontal margins for .under_title */
    width: 35vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.under_title ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}

.under_title li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.images {
    max-width: 80%;
    max-height: 80%;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will separate the .under_title from the .centered-box */
}

.centered-box {
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    margin-top: 2rem;
    border: 2px solid #ddd;
    border-radius: 50px;
    color: white;

}
